@model IEnumerable<Web_Proje_2.Models.BahceMalzemeleri>
@{
    ViewBag.Title = "BahceMalzeme";
}

<head>

</head>

<body>
    <h2>Bahçe Malzeme</h2>


    @foreach (Web_Proje_2.Models.BahceMalzemeleri item in @Model)
    {<table class="table">
            <tr>

                <th style="background-color: aliceblue">
                    <h3>@Html.DisplayFor(modelItem => item.BahceMalzemeAd)</h3>
                </th>


            </tr>
            <tr>
                <td style="background-color: aliceblue">
                    <img src="@Url.Content(item.Resim)" height="500" width="500" />
                </td>
                <td style="background-color: aliceblue">
                    <h3>@Html.ActionLink("Git", "YonMalzeme", new { id = item.BahceMalzemeAd })</h3>
                </td>
            </tr>

        </table>
    }

</body>

